.parent {
  padding: 25px;
  background-color: blanchedalmond;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  height: 350px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.child {
  border: 2px solid rgb(15, 158, 160);
  background: rgb(178, 228, 229);
  padding: 20px;
  font-size: 28px;
}
